<div id="<%= dom_id job_description %>">
  <p>
    <strong>Description:</strong>
    <%= job_description.description %>
  </p>

  <p>
    <strong>Requirements:</strong>
    <%= job_description.requirements %>
  </p>

  <p>
    <strong>Job classification:</strong>
    <%= job_description.job_classification %>
  </p>

  <p>
    <strong>Min salary:</strong>
    <%= job_description.min_salary %>
  </p>

  <p>
    <strong>Max salary:</strong>
    <%= job_description.max_salary %>
  </p>

  <p>
    <strong>Job application:</strong>
    <%= job_description.job_application_id %>
  </p>

</div>
