<%= form_with(model: supporting_document) do |form| %>
  <% if supporting_document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(supporting_document.errors.count, "error") %> prohibited this supporting_document from being saved:</h2>

      <ul>
        <% supporting_document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :document, style: "display: block" %>
    <%= form.file_field :document %>
  </div>

  <div class="form-group">
    <%= form.label :job_application_ids, style: "display: block" %>
    <%= form.collection_check_boxes(:job_application_ids, JobApplication.all, :id, :full_title) do |box| %>
      <li class="list-unstyled">
        <%= box.label(:job_application_ids => box.value) { box.check_box + box.text}%>
      </li>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
