<%= form_with(model: job_application) do |form| %>
  <% if job_application.errors.any? %>
    <div style="color: red">
      <ul>
        <% job_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :employer_id, style: "display: block" %>
    <%= form.select :employer_id, Employer.all.map {|employer| [employer.name, employer.id]}, include_blank: true  %>
  </div>

  <div>
    <%= form.label :job_title, style: "display: block" %>
    <%= form.text_field :job_title %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, JobApplication.statuses.map {|status, value| [status.humanize, value]}  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
