<p style="color: green"><%= notice %></p>

<h1><%= link_to "Job applications", home_index_path %></h1>

<div id="job_applications">
  <% @job_applications.each do |job_application| %>
    <%= render job_application %>
    <p>
      <%= link_to "Show this job application", job_application %>
    </p>
  <% end %>
</div>

<%= link_to "New job application", new_job_application_path %>
