<p style="color: green"><%= notice %></p>

<h1 style="padding-top: 10px;">
  <b>Title: </b><%= @job_application.job_title%>
</h1>

<h3 class=".container" style="padding-top: 10px;">
  <div class="row">
    <div class="col-3">
      <% employer = @job_application.employer %>

      <%# TODO: Make employer info pop-out on this view,
      OR learn how to make employer#Show have a back button%>
      <b>Employer: </b><%= link_to "#{employer.name}", employer_path(employer)%>
    </div>

    <div class="col-2">
      <b>Status: </b><%= @job_application.status.humanize%>
    </div>
  </div>
</h3>

<ul>
    <li> <%= link_to "Job Description", job_description_path(@job_application.job_description) %> </li>
    <li> <%= "Interviews" %> </li>
    <li> <%= "Supporting Documents" %> </li>
    <div>
      <ul>
      <% @job_application.supporting_documents.each do |document| %>
        <li> <%= link_to "#{document.name}", supporting_document_path(document) %> </li>
      <% end %>
      </ul>
    </div>
    <li> <%= "Offer?" %> </li>
</ul>

<div style="padding-top: 10px;">
  <%= link_to "Edit this job application", edit_job_application_path(@job_application) %> |
  <%= link_to "Back to job applications", job_applications_path %>
</div>

<div style="padding-top: 30px;">
  <%= button_to "Destroy this job application",
    @job_application,
    method: :delete,
    form: {data: {turbo_confirm: 'Are you sure?'}}
  %>
</div>
