<div id="<%= dom_id employer %>">

<h1 style="padding-top: 10px;">
  <b>Name: </b><%= employer.name%>
</h1>

<div style="padding-top: 10px;">
  <b>Email: </b><%= employer.email%>
</div>

<div style="padding-top: 10px;">
  <b>Phone Number: </b><%= format_phone_number(employer.phone_number)%>
</div>

<div style="padding-top: 10px;">
  <b>Address: </b><%= format_address(employer.address)%>
</div>

<div>
  <% if employer.job_applications.any? %>
    <h3>Job Applications</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Job Title</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% employer.job_applications.order(job_title: :asc).each do |job_application| %>
          <tr>
            <td><%= link_to "#{job_application.job_title}", job_application %></td>
            <td><%= job_application.status %> <%#TODO: Add small button to quickly change status%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>