<div id="<%= dom_id employer %>">
  <p>
    <strong>Name:</strong>
    <%= employer.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= employer.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employer.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employer.address %>
  </p>

</div>
