<p style="color: green"><%= notice %></p>

<h1><%= link_to "Employers", home_index_path%></h1>

<div id="employers">
  <% @employers.each do |employer| %>

    <h2 style="padding-top: 10px;">
      <b>Name: </b><%= employer.name%>
    </h2>
    <div style="padding-top: 10px;">
      <b>Email: </b><%= employer.email%>
    </div>
    <div style="padding-top: 10px;">
      <b>Phone Number: </b><%= format_phone_number(employer.phone_number)%>
    </div>
    <div style="padding-top: 10px;">
      <b>Address: </b><%= format_address(employer.address)%>
    </div>

    <p>
      <%= link_to "Show this employer", employer %>
    </p>
  <% end %>
</div>

<%= link_to "New employer", new_employer_path %>
