<p style="color: green"><%= notice %></p>

<%= render @employer %>

<div style="padding-top: 10px;">
  <%= link_to "Edit this employer", edit_employer_path(@employer) %> |
  <%= link_to "Back to employers", employers_path %>
</div>

<div style="padding-top: 30px;">
  <%= button_to "Destroy this employer",
    @employer,
    method: :delete,
    form: {data: {turbo_confirm: 'Are you sure?'}}
  %>
</div>
