<h1>Artemis: Home page</h1>

<ul>
    <li> <%= link_to "Job Applications", job_applications_path %> </li>
    <li> <%= "Interviews" %> </li>
    <li> <%= link_to "Employers", employers_path %> </li>
    <li> <%= "Supporting Documents" %> </li>
    <li> <%= "Job Offers" %> </li>
</ul>